.our {
  background-color: $color-gray-bg;
}

.our__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our__title {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 59px;
  padding-left: 2px;
  @include media-tablet {
    margin-bottom: 30px;
  }
  @include media-mobile {
    @include font ($size: 2.5rem, $height: 3.25rem);
    margin-top: 42px;
    margin-bottom: 41px;
  }
}


.our__slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  @include media-tablet {
    margin-bottom: 76px;
  }
  @include media-mobile {
    margin-bottom: 42px;
  }
}

.our__background {
  width: 1200px;
  height: 899px;
  margin-bottom: 60px;
  position: relative;
  &::before {
    content: '';
    width: 1200px;
    height: 899px;
    position: absolute;
  }
  @include media-tablet{
    width: 708px;
    height: 1403px;
    margin-bottom: 39px;
    &::before {      
      width: 708px;
      height: 1403px;
    }
  }
  @include media-mobile {
    width: 255px;
    height: 1364px;
    margin-bottom: 39px;
    &::before {      
      width: 300px;
      height: 1364px;
    }
  }
}

.our__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 40px;
  margin-bottom: 60px;
  &::after {
    display: block;
    content: '';
    width: 1200px;
    overflow: hidden;
    visibility: hidden;
  }
  @include media-tablet {
    justify-content: center;
    max-width: 708px;
    margin-bottom: 39px;
    &::after {
      display: block;
      content: '';
      width: 708px;
      overflow: hidden;
      visibility: hidden;
    }
  }
  @include media-mobile {
    max-width: 255px;
    margin-bottom: 42px;    
  }
  &::after {
    display: block;
    content: '';
    width: 255px;
    overflow: hidden;
    visibility: hidden;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  background-color: $color-hovered;
  @extend %transition;
  cursor: pointer;
  &:hover {
    background-color: $color-light;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    .card__button {      
      background-color: $color-primary;      
    }
  }   
  &::after {
    display: block;
    content: '';
    width: 270px;
    height: 434px;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
  } 
  &:nth-child(6) {
    .card__img {
      border-radius: 9px 9px 0px 0px;
    }    
  }
  @include media-tablet {
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }
  @include media-mobile {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
  }
}

.card__img {
  margin-bottom: 30px;
  border-radius: 5px 5px 0px 0px;  
}

.card__title {
  letter-spacing: 0.06em;
  line-height: 2.272rem;
  margin-bottom: 30px;
  color: $color-title;
}

.card__button {
  letter-spacing: 0.06em;
  @include font($size: 1.7rem, $height: 2.21rem);
  margin-bottom: 30px;
  background-color: transparent;
  padding: 13px 43px;
  border: 2px solid $color-primary;  
  border-radius: 100px;
  color: $color-text-button;
  @extend %transition;
  &:hover {
    background-color: $color-primary;
  }
}
.paginator {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include media-mobile {
    gap: 10px;
  }
}

.paginator__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;  
  border: 2px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  @extend %transition;
  &:hover {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }
}

.paginator__button-activ {
  border: 2px solid $color-primary;
  background-color: $color-primary;
  &:hover {
    border: 2px solid $color-primary;
    background-color: $color-primary;
  }
}

.paginator__text {
  letter-spacing: 0.06em;
  @include font($size: 2.0rem, $height: 2.3rem);
  color: $color-text-button;
}

.paginator__button-disabled {
  border: 2px solid $color-gray;
  color: $color-gray;
  &:hover {
    border: 2px solid $color-gray;
    background-color: transparent;
  }
}