.our__content {
  position: relative;
}

$second: .7s;

@keyframes paginaton {  
  from {opacity: 0;}
    to {opacity: 1;}  
}

.transition {
  animation-name: paginaton;
  animation-duration: $second;
}
