.help__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.help__title {  
  text-align: center;
  max-width: 315px;
  margin: 81px 0 49px 3px;
  @include media-mobile {
    max-width: 260px;
    margin: 42px 0 33px 1px;
  }
}

.help__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  gap: 35px 100px;
  margin-bottom: 88px;
  max-width: 1054px;
  @include media-tablet {
    display: grid;
    grid-template-columns: repeat(3, 186px);
    gap: 33px 44px;
    margin-bottom: 91px;
  }
  @include media-mobile {
    display: grid;
    grid-template-columns: repeat(2, 145px);
    gap: 10px 16px;
    margin-bottom: 32px;
  }
}

.help__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  color: $color-title;
  @extend %transition;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  @include media-tablet {
    &:nth-child(4),
    &:nth-child(6) {
      padding-top: 13px;
    }
    &:nth-child(8) {
      padding-top: 15px;
    }
  }
  @include media-mobile {
    &:nth-child(8) {
      padding-top: 17px;
    }
  }
}

.help__card-img {
  margin-bottom: 31px;  
  @include media-mobile {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 20px;
  }
}

.help__card-title {
  @include media-mobile {
    @include font($size: 1.5rem, $height: 1.65rem);
  }  
}