.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Arial-ex';  
  @extend %transition;
  @include media-mobile {
    @include font($size: 3.2rem, $height: 5.12rem);
    justify-content: center;
    text-align: center;
    z-index: 10;  
    .navigation__item {
      margin-bottom: 41px;
      &:first-child {
        margin-bottom: 43px;
      }
      &:nth-child(2) {
        margin-bottom: 39px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.navigation__item {
  list-style: none;
  padding-right: 35px;
  &:last-child {
    padding-right: 0;
  }
  @include media-mobile {
    padding-right: 0
  }
}

.navigation__link {
  text-decoration: none;
  color: $color-gray;
  @extend %transition;
  &:hover {
    color: $color-hovered;
  }
}

.navigation__item-activ {
  .navigation__link {
    color: $color-hovered;
  } 
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 1px;
    top: 24px;
    width: 114px;
    height: 3px;
    background-color: $color-primary;
  }
  @include media-mobile {
    &::before {
      left: 0px;
      top: 50px;
      width: 243px;
    }
  }
}
