.our {
  background-color: $color-gray-bg;
}

.our__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.our__title {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 59px;
  padding-left: 3px;
  @include media-mobile {
    margin-top: 42px;
    margin-bottom: 42px;
    padding-left: 1px;
  }
}

.our__slider{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  @include media-mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    max-width: 270px; 
  }
  @include media-mobile {
    margin-bottom: 42px;
  }
}

.our__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;  
  border: 2px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  @extend %transition;
  &:hover {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }
  @include media-mobile {
    order: 1;
  }
}

.our__arrow-prev {
  margin-right: 53px;
  @include media-tablet {
    margin-right: 12px;
  }
  @include media-mobile {
    margin-right: 80px;
  }
}

.our__arrow-next {
  margin-left: 53px;
  transform:  rotate(0.5turn);
  @include media-tablet {
    margin-left: 12px;
  }
  @include media-mobile {
    grid-row: 2;
    margin-left: 0;
  }
}

.our__content {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  @include media-tablet {
    gap: 40px;
  }
  @include media-mobile {
    margin-bottom: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  background-color: $color-hovered;
  @extend %transition;
  cursor: pointer;
  &:hover {
    background-color: $color-light;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    .card__button {      
      background-color: $color-primary;      
    }
  }
  @include media-tablet {
    &:last-child {
      display: none;
    }
  }  
  @include media-mobile {
    &:nth-child(2) {
      display: none;
    }
  }  
}

.card__img {
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;
}

.card__title {
  letter-spacing: 0.06em;
  line-height: 2.272rem;
  margin-bottom: 30px;
  color: $color-title;  
}

.card__button {
  letter-spacing: 0.06em;
  @include font($size: 1.7rem, $height: 2.21rem);
  margin-bottom: 30px;
  background-color: transparent;
  padding: 13px 43px;
  border: 2px solid $color-primary;  
  border-radius: 100px;
  color: $color-text-button;
  @extend %transition;
  &:hover {
    background-color: $color-primary;
  }
}

.our__button {
  @include font($size: 1.7rem, $height: 2.21rem);
  margin-bottom: 100px;
  cursor: pointer;
  padding: 15px 45px;
  background-color: $color-primary; 
  text-decoration: none;
  color: $color-text-button;  
  letter-spacing: 0.06em;
  border-radius: 100px;
  &:hover {
    background-color: $color-primary-light; 
  }
  @include media-tablet{
    padding: 15px 44px;
  }
  @include media-mobile {
    margin-bottom: 42px;
  }
}