.footer {
  background: url(../../../assets/icons/noise_transparent@2x.png) repeat, linear-gradient(left, #5B483A 0%, #262425 100%);
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  @include media-tablet {
    padding: 0 60px;
  }
  @include media-mobile {
    padding: 0 10px;
  }
}

.footer__content {
  display: grid;
  grid-template-columns: 740px 300px;
  gap: 160px;  
  padding-top: 40px;
  @include media-tablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 69px;
    padding-top: 14px;
    padding-left: 4px;
  }
  @include media-mobile {
    gap: 44px;
    margin: 0 auto;
  }
}

.footer__inner {
  display: grid;
  grid-template-columns: 279px 302px;
  gap: 160px;
  @include media-tablet{
    gap: 60px;
  }
  @include media-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }
}

.footer__question {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  @include media-mobile {
    padding-top: 15px;
  }
}

.footer__title {
  color: $color-light;
  margin-bottom: 33px;
  max-width: 300px;
  @include media-mobile {
    text-align: center;
    margin-right: 3px;
    margin-bottom: 40px;
  }
  @include media-mobile {
    @include font ($size: 2.5rem, $height: 3.25rem);
    max-width: 293px;
  }
}

.footer__question-title {
  margin-bottom: 44px;
  @include media-mobile {
    margin-bottom: 45px;    
  }
}

.footer__subtitle {
  color: $color-primary;
}

.footer__link {
  text-decoration: none;
  color: $color-primary;
}

.footer__email {  
  position: relative;
  margin-bottom: 49px;  
  &::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 26px;
    top: -2px;
    left: -1px;
    background-image: url(./../../../assets/icons/mail.svg);
  }
  @include media-mobile {    
    margin-left: 21px;
  }
}

.footer__email-link {
  padding-left: 60px;
}

.footer__phone {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 32px;
    top: -5px;
    left: -1px;
    background-image: url(./../../../assets/icons/phone.svg);
  }
  @include media-mobile {    
    margin-left: 27px;
    &::after {
      top: -5px;
    }
  }
}

.footer__phone-link {
  padding-left: 60px;
}

.footer__visit {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  @include media-mobile {
    max-width: 300px;
  }
}

.footer__boston {
  margin-bottom: 37px;  
  @include media-mobile {
    margin-bottom: 44px;  
  }
}

.footer__boston-link {  
  display: flex;
  position: relative;
  padding-left: 41px;
  &::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 32px;
    top: 6px;
    left: -1px;
    background-image: url(./../../../assets/icons/pin.svg);
  }
  @include media-tablet {
    padding-left: 40px;
    &::after {
      left: -3px;
    }
  }
  @include media-mobile {
    padding-left: 37px;
    &::after {
      top: 7px;
      left: -4px;
    }
  }
}

.footer__london-link {
  display: flex;
  position: relative;
  padding-left: 41px;
  &::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 32px;
    top: -5px;
    left: -1px;
    background-image: url(./../../../assets/icons/pin.svg);
  }
  @include media-tablet {
    padding-left: 40px;
    &::after {
      left: -3px;
    }
  }
  @include media-mobile {
    padding-left: 38px;
    &::after {
      top: -4px;
    left: -4px;
    }
  }
}

.footer__dog {
  @include media-tablet {
    padding-right: 1px;
  }
  @include media-mobile {
    padding-right: 2px;
    max-width: 260px;
  }
}