$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-hovered: #FAFAFA;
$color-gray: #CDCDCD;
$color-gray-bg: #F6F6F6;
$color-text-button: #292929;
$color-title:#545454;
$color-text: #4C4C4C;
$color-description: #B2B2B2;

$content-width: 1280px;
$tablet-width: 1279px;
$mobile-width: 700px; 

// Цвета для выделения
$color-selection-dark: #C4936B;
$color-selection-light: #EAE0D4;