// .header {
//   background: url(../../../assets/icons/noise_transparent@2x.png) repeat, linear-gradient(left, #5B483A 0%, #262425 100%);
// }

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 55px; 
  @include media-tablet {
    padding: 0 30px;
    margin-bottom: 60px;
    padding-top: 25px;
  }
  @include media-mobile {
    padding: 25px 53px 0 10px;
    margin-bottom: 58px;
  }
}

.header__logo {
  cursor: pointer;
  &:hover {
    .logo {
      color: $color-primary-light;  
    }
    .logo-subtitle {
      color: $color-gray;
    }
  }
}

.logo {
  @include font($size: 3.2rem, $height: 3.52rem);
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  color: $color-primary;  
  margin-top: 6px;
  @extend %transition;
}

.logo-subtitle {
  @include font($size: 1.3rem, $height: 1.495rem);
  letter-spacing: 0.1em;
  color: $color-light;
  padding-left: 4px;
  @extend %transition;
}