.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 55px; 
  @include media-tablet {
    padding: 0 30px;
    margin-bottom: 60px;
    padding-top: 25px;
  }
  @include media-mobile {
    padding: 25px 53px 0 10px;
    margin-bottom: 58px;
  }
}

.header__logo {
  display: block;
  cursor: pointer;  
  @extend %transition;
  z-index: 10;
  &:hover {
    .logo {
      color: $color-primary-light;  
    }
    .logo-subtitle {
      color: $color-gray;
    }
  }
}

.header__logo-inactive {
  z-index: 10;
  opacity: 0;
  transition: all .9s ease-in-out;
}

.logo {
  @include font($size: 3.2rem, $height: 3.52rem);
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  color: $color-primary;  
  margin-top: 6px;
  @extend %transition;
}

.logo-subtitle {
  @include font($size: 1.3rem, $height: 1.495rem);
  letter-spacing: 0.1em;
  color: $color-light;
  padding-left: 4px;
  @extend %transition;
}

.header__content {  
  .header__logo {
    display: none;
  }
  @include media-mobile {   
    display: flex;
    flex-direction: column;
    position: fixed;  
    overflow: auto;   
    padding: 25px 9px 0 10px;
    gap: 158px;
    width: 320px;
    height: 100%;  
    top: 0;
    right: -100%;
    z-index: 30;
    background: $color-text-button;  
    transition: all .9s ease-out;
    .header__logo {
      display: block;
    }    
  }
}

.header__content-active {
  right: 0;
}