html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: 'Georgia-ex';
  src: url("../../../assets/fonts/georgia/georgia-regular.woff") format("woff2"), url("../../../assets/fonts/georgia/georgia-regular.woff2") format("woff");
}

@font-face {
  font-family: 'Arial-ex';
  src: url("../../../assets/fonts/arial/arial-regular.woff") format("woff2"), url("../../../assets/fonts/arial/arial-regular.woff2") format("woff");
}

.header__hamburger, .header__logo, .logo, .logo-subtitle, .navigation, .navigation__link, .our__arrow, .card, .card__button, .help__card, .donation__button {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia-ex';
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06px;
  cursor: url(../../../assets/icons/pointer/pointer.png), url(../../../assets/icons/pointer/pointer.cur), default;
}

body a {
  cursor: url(../../../assets/icons/pointer/pointer-hover.png), url(../../../assets/icons/pointer/pointer-hover.cur), default;
}

.body__no-scroll {
  overflow: hidden;
}

.background {
  background: url(../../../assets/icons/noise_transparent@2x.png) repeat, -webkit-gradient(linear, left top, right top, from(#5B483A), to(#262425));
  background: url(../../../assets/icons/noise_transparent@2x.png) repeat, linear-gradient(left, #5B483A 0%, #262425 100%);
}

.header {
  cursor: url(../../../assets/icons/pointer/pointer-white.png), url(../../../assets/icons/pointer/pointer-white.cur), default;
}

.header a,
.header a::before,
.header h1,
.header p,
.header .header__hamburger,
.header .header__hamburger-line {
  cursor: url(../../../assets/icons/pointer/pointer-hover-white.png), url(../../../assets/icons/pointer/pointer-hover-white.cur), default;
}

.not-only {
  cursor: url(../../../assets/icons/pointer/pointer-white.png), url(../../../assets/icons/pointer/pointer-white.cur), default;
}

.not-only a {
  cursor: url(../../../assets/icons/pointer/pointer-hover-white.png), url(../../../assets/icons/pointer/pointer-hover-white.cur), default;
}

.our {
  cursor: url(../../../assets/icons/pointer/pointer-white.png), url(../../../assets/icons/pointer/pointer-white.cur), default;
}

.our a,
.our button,
.our .card {
  cursor: url(../../../assets/icons/pointer/pointer-hover-white.png), url(../../../assets/icons/pointer/pointer-hover-white.cur), default;
}

.help .help__card {
  cursor: url(../../../assets/icons/pointer/pointer-hover.png), url(../../../assets/icons/pointer/pointer-hover.cur), default;
}

.donation {
  cursor: url(../../../assets/icons/pointer/pointer-white.png), url(../../../assets/icons/pointer/pointer-white.cur), default;
}

.donation .donation__button,
.donation .donation__button-link {
  cursor: url(../../../assets/icons/pointer/pointer-hover-white.png), url(../../../assets/icons/pointer/pointer-hover-white.cur), default;
}

footer {
  cursor: url(../../../assets/icons/pointer/pointer-white.png), url(../../../assets/icons/pointer/pointer-white.cur), default;
}

footer a,
footer .footer__boston {
  cursor: url(../../../assets/icons/pointer/pointer-hover-white.png), url(../../../assets/icons/pointer/pointer-hover-white.cur), default;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.72rem;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    font-style: normal;
  }
}

h3 {
  letter-spacing: 0.06em;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  font-style: normal;
  color: #545454;
}

@media (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    font-style: normal;
  }
}

h4 {
  letter-spacing: 0.06em;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-style: normal;
}

h5 {
  letter-spacing: 0.06em;
  font-size: 1.5rem;
  line-height: 1.65rem;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'Arial-ex';
  color: #4C4C4C;
}

button {
  font-family: 'Georgia-ex';
}

.header *::-moz-selection,
.not-only *::-moz-selection,
.footer *::-moz-selection {
  background: #C4936B;
}

.header *::selection,
.not-only *::selection,
.footer *::selection {
  background: #C4936B;
}

.about *::-moz-selection,
.help *::-moz-selection,
.our *::-moz-selection,
.donation *::-moz-selection {
  background: #EAE0D4;
}

.about *::selection,
.help *::selection,
.our *::selection,
.donation *::selection {
  background: #EAE0D4;
}

.header__hamburger {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
}

@media (max-width: 767px) {
  .header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px 0;
    margin-top: 3px;
    cursor: pointer;
  }
}

.header__inner {
  display: none;
}

@media (max-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 41px;
  }
}

.header__logo-active {
  display: block;
  z-index: 30;
}

.header__hamburger-active {
  z-index: 30;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.header__hamburger-line {
  width: 100%;
  background-color: #F1CDB3;
  border: 1px solid #F1CDB3;
}

.burger {
  display: none;
}

.burger-active {
  display: block;
  width: 100%;
  z-index: 30;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}

@media (max-width: 1279px) {
  .wrapper {
    max-width: 768px;
    margin: auto;
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 767px;
    margin: auto;
    padding: 0 10px;
  }
}

.header__background {
  display: none;
}

@media (max-width: 767px) {
  .header__background {
    display: block;
    position: fixed;
    overflow: auto;
    width: 767px;
    height: 100%;
    top: 0;
    right: 300%;
    z-index: 1;
    background-color: rgba(41, 41, 41, 0.6);
  }
}

.header__background-active {
  right: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 55px;
}

@media (max-width: 1279px) {
  .header__wrapper {
    padding: 0 30px;
    margin-bottom: 60px;
    padding-top: 25px;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    padding: 25px 53px 0 10px;
    margin-bottom: 58px;
  }
}

.header__logo {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.header__logo:hover .logo {
  color: #FDDCC4;
}

.header__logo:hover .logo-subtitle {
  color: #CDCDCD;
}

.header__logo-inactive {
  z-index: 10;
  opacity: 0;
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

.logo {
  font-size: 3.2rem;
  line-height: 3.52rem;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-top: 6px;
}

.logo-subtitle {
  font-size: 1.3rem;
  line-height: 1.495rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-left: 4px;
}

.header__content .header__logo {
  display: none;
}

@media (max-width: 767px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    overflow: auto;
    padding: 25px 9px 0 10px;
    gap: 158px;
    width: 320px;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 30;
    background: #292929;
    -webkit-transition: all .9s ease-out;
    transition: all .9s ease-out;
  }
  .header__content .header__logo {
    display: block;
  }
}

.header__content-active {
  right: 0;
}

.footer {
  background: url(../../../assets/icons/noise_transparent@2x.png) repeat, -webkit-gradient(linear, left top, right top, from(#5B483A), to(#262425));
  background: url(../../../assets/icons/noise_transparent@2x.png) repeat, linear-gradient(left, #5B483A 0%, #262425 100%);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 740px 300px;
      grid-template-columns: 740px 300px;
  gap: 160px;
  padding-top: 40px;
}

@media (max-width: 1279px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    gap: 69px;
    padding-top: 14px;
    padding-left: 4px;
  }
}

@media (max-width: 767px) {
  .footer__content {
    gap: 45px 0;
    margin: 0 auto;
    padding-top: 15px;
  }
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 279px 302px;
      grid-template-columns: 279px 302px;
  gap: 160px;
}

@media (max-width: 1279px) {
  .footer__inner {
    gap: 60px;
  }
}

@media (max-width: 767px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;
  }
}

.footer__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

@media (max-width: 767px) {
  .footer__question {
    padding-top: 15px;
  }
}

.footer__title {
  color: #FFFFFF;
  margin-bottom: 33px;
  max-width: 300px;
}

@media (max-width: 767px) {
  .footer__title {
    text-align: center;
    margin-right: 3px;
    margin-bottom: 40px;
    max-width: 293px;
  }
}

.footer__question-title {
  margin-bottom: 44px;
}

@media (max-width: 767px) {
  .footer__question-title {
    margin-bottom: 45px;
  }
}

.footer__subtitle {
  color: #F1CDB3;
}

.footer__link {
  text-decoration: none;
  color: #F1CDB3;
}

.footer__email {
  position: relative;
  margin-bottom: 49px;
}

.footer__email::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 26px;
  top: -2px;
  left: 0px;
  background-image: url(./../../../assets/icons/mail.svg);
}

@media (max-width: 1279px) {
  .footer__email::after {
    left: -2px;
  }
}

@media (max-width: 767px) {
  .footer__email {
    margin-left: 21px;
  }
}

.footer__email-link {
  padding-left: 60px;
}

.footer__phone {
  position: relative;
}

.footer__phone::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 32px;
  top: -5px;
  left: 0px;
  background-image: url(./../../../assets/icons/phone.svg);
}

@media (max-width: 1279px) {
  .footer__phone::after {
    left: -2px;
  }
}

@media (max-width: 767px) {
  .footer__phone {
    margin-left: 27px;
  }
  .footer__phone::after {
    top: -5px;
  }
}

.footer__phone-link {
  padding-left: 60px;
}

.footer__visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

@media (max-width: 767px) {
  .footer__visit {
    max-width: 300px;
  }
}

.footer__boston {
  margin-bottom: 37px;
}

@media (max-width: 767px) {
  .footer__boston {
    margin-bottom: 44px;
  }
}

.footer__boston-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 41px;
}

.footer__boston-link::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 32px;
  top: 6px;
  left: -1px;
  background-image: url(./../../../assets/icons/pin.svg);
}

@media (max-width: 1279px) {
  .footer__boston-link {
    padding-left: 40px;
  }
  .footer__boston-link::after {
    left: -3px;
  }
}

@media (max-width: 767px) {
  .footer__boston-link {
    padding-left: 37px;
  }
  .footer__boston-link::after {
    top: 7px;
    left: -4px;
  }
}

.footer__london-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 41px;
}

.footer__london-link::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 32px;
  top: -5px;
  left: -1px;
  background-image: url(./../../../assets/icons/pin.svg);
}

@media (max-width: 1279px) {
  .footer__london-link {
    padding-left: 40px;
  }
  .footer__london-link::after {
    left: -3px;
  }
}

@media (max-width: 767px) {
  .footer__london-link {
    padding-left: 38px;
  }
  .footer__london-link::after {
    top: -4px;
    left: -4px;
  }
}

@media (max-width: 1279px) {
  .footer__dog {
    padding-right: 1px;
  }
}

@media (max-width: 767px) {
  .footer__dog {
    max-width: 260px;
  }
}

.not-only {
  padding-top: 4px;
}

@media (max-width: 1279px) {
  .not-only {
    padding-top: 0;
  }
}

.not-only__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .not-only__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.not-only__content {
  margin-top: 164px;
}

@media (max-width: 1279px) {
  .not-only__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .not-only__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 0;
    margin-bottom: 105px;
  }
}

.not-only__title {
  color: #FFFFFF;
  max-width: 330px;
  margin-bottom: 40px;
}

@media (max-width: 1279px) {
  .not-only__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .not-only__title {
    letter-spacing: 0.15rem;
    max-width: 230px;
    margin-bottom: 43px;
  }
}

.not-only__text {
  color: #CDCDCD;
  margin-bottom: 57px;
  max-width: 465px;
  letter-spacing: 0;
}

@media (max-width: 1279px) {
  .not-only__text {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .not-only__text {
    max-width: 300px;
  }
}

.not-only__button {
  padding: 18px 44px 17px 46px;
  background-color: #F1CDB3;
  border-radius: 100px;
  letter-spacing: 1.99px;
  text-decoration: none;
  color: #292929;
}

.not-only__button:hover, .not-only__button:active {
  background-color: #FDDCC4;
}

@media (max-width: 1279px) {
  .not-only__button {
    padding: 14px 45px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .not-only__button {
    margin-right: 1px;
  }
}

@media (max-width: 1279px) {
  .button__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1279px) {
  .not-only__image {
    max-width: 569px;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .not-only__image {
    max-width: 260px;
    margin-left: 40px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Arial-ex';
}

@media (max-width: 767px) {
  .navigation {
    font-size: 3.2rem;
    line-height: 5.12rem;
    font-weight: 400;
    font-style: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 10;
  }
  .navigation .navigation__item {
    margin-bottom: 41px;
  }
  .navigation .navigation__item:first-child {
    margin-bottom: 43px;
  }
  .navigation .navigation__item:nth-child(2) {
    margin-bottom: 39px;
  }
  .navigation .navigation__item:last-child {
    margin-bottom: 0;
  }
}

.navigation__item {
  list-style: none;
  padding-right: 35px;
}

.navigation__item:last-child {
  padding-right: 0;
}

@media (max-width: 767px) {
  .navigation__item {
    padding-right: 0;
  }
}

.navigation__link {
  text-decoration: none;
  color: #CDCDCD;
}

.navigation__link:hover {
  color: #FAFAFA;
}

.navigation__item-activ {
  position: relative;
}

.navigation__item-activ .navigation__link {
  color: #FAFAFA;
}

.navigation__item-activ::before {
  content: '';
  position: absolute;
  display: block;
  left: 1px;
  top: 24px;
  width: 114px;
  height: 3px;
  background-color: #F1CDB3;
}

@media (max-width: 767px) {
  .navigation__item-activ::before {
    left: 0px;
    top: 50px;
    width: 243px;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

@media (max-width: 1279px) {
  .about__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .about__wrapper {
    margin-top: 43px;
    padding: 0 25px;
    margin-bottom: 42px;
  }
}

.about__content {
  margin-left: 120px;
  max-width: 430px;
}

@media (max-width: 1279px) {
  .about__content {
    margin-bottom: 80px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 41px;
  }
}

.about__title {
  margin-bottom: 24px;
  max-width: 310px;
}

@media (max-width: 1279px) {
  .about__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .about__title {
    max-width: 220px;
    text-align: center;
  }
}

.about__text {
  letter-spacing: 0;
}

@media (max-width: 767px) {
  .about__text {
    text-align: justify;
    max-width: 270px;
  }
}

.about__text-top {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .about__text-top {
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .about__pets {
    max-width: 260px;
  }
}

.our {
  background-color: #F6F6F6;
}

.our__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__title {
  text-align: center;
  margin-top: 81px;
  margin-bottom: 59px;
  padding-left: 3px;
}

@media (max-width: 767px) {
  .our__title {
    margin-top: 42px;
    margin-bottom: 42px;
    padding-left: 1px;
  }
}

.our__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .our__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 270px;
  }
}

@media (max-width: 767px) {
  .our__slider {
    margin-bottom: 42px;
  }
}

.our__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
}

.our__arrow:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

@media (max-width: 767px) {
  .our__arrow {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.our__arrow-prev {
  margin-right: 53px;
}

@media (max-width: 1279px) {
  .our__arrow-prev {
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .our__arrow-prev {
    margin-right: 80px;
  }
}

.our__arrow-next {
  margin-left: 53px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

@media (max-width: 1279px) {
  .our__arrow-next {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .our__arrow-next {
    -ms-grid-row: 2;
    grid-row: 2;
    margin-left: 0;
  }
}

.our__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

@media (max-width: 1279px) {
  .our__content {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .our__content {
    margin-bottom: 20px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  background-color: #FAFAFA;
  cursor: pointer;
}

.card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card:hover .card__button {
  background-color: #F1CDB3;
}

@media (max-width: 1279px) {
  .card:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .card:nth-child(2) {
    display: none;
  }
}

.card__img {
  margin-bottom: 30px;
  border-radius: 9px 9px 0px 0px;
}

.card__title {
  letter-spacing: 0.06em;
  line-height: 2.272rem;
  margin-bottom: 30px;
  color: #545454;
}

.card__button {
  letter-spacing: 0.06em;
  font-size: 1.7rem;
  line-height: 2.21rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 30px;
  background-color: transparent;
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
}

.card__button:hover {
  background-color: #F1CDB3;
}

.our__button {
  font-size: 1.7rem;
  line-height: 2.21rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 100px;
  cursor: pointer;
  padding: 15px 45px;
  background-color: #F1CDB3;
  text-decoration: none;
  color: #292929;
  letter-spacing: 0.06em;
  border-radius: 100px;
}

.our__button:hover {
  background-color: #FDDCC4;
}

@media (max-width: 1279px) {
  .our__button {
    padding: 15px 44px;
  }
}

@media (max-width: 767px) {
  .our__button {
    margin-bottom: 42px;
  }
}

.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help__title {
  text-align: center;
  max-width: 315px;
  margin: 81px 0 49px 3px;
}

@media (max-width: 767px) {
  .help__title {
    max-width: 260px;
    margin: 42px 0 33px 1px;
  }
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px 100px;
  margin-bottom: 88px;
  max-width: 1054px;
}

@media (max-width: 1279px) {
  .help__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (186px)[3];
        grid-template-columns: repeat(3, 186px);
    gap: 33px 44px;
    margin-bottom: 91px;
  }
}

@media (max-width: 767px) {
  .help__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (145px)[2];
        grid-template-columns: repeat(2, 145px);
    gap: 10px 16px;
    margin-bottom: 32px;
  }
}

.help__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px;
  color: #545454;
  cursor: pointer;
}

.help__card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

@media (max-width: 1279px) {
  .help__card:nth-child(4), .help__card:nth-child(6) {
    padding-top: 13px;
  }
  .help__card:nth-child(8) {
    padding-top: 15px;
  }
}

@media (max-width: 767px) {
  .help__card:nth-child(8) {
    padding-top: 17px;
  }
}

.help__card-img {
  margin-bottom: 31px;
}

@media (max-width: 767px) {
  .help__card-img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .help__card-title {
    font-size: 1.5rem;
    line-height: 1.65rem;
    font-weight: 400;
    font-style: normal;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 81px;
  padding-bottom: 100px;
}

@media (max-width: 1279px) {
  .donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 81px;
  }
}

@media (max-width: 767px) {
  .donation__content {
    padding-top: 42px;
    padding-bottom: 41px;
  }
}

.donation__img {
  height: 100%;
  margin-right: 29px;
}

@media (max-width: 1279px) {
  .donation__img {
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .donation__img {
    max-width: 260px;
    margin-right: 0;
  }
}

.donation__info {
  max-width: 380px;
  padding-left: 1px;
}

@media (max-width: 1279px) {
  .donation__info {
    margin-bottom: 60px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .donation__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 34px;
  }
}

.donation__title {
  max-width: 306px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .donation__title {
    max-width: 210px;
    text-align: center;
  }
}

.donation__name-bank {
  margin-bottom: 19px;
  color: #545454;
}

@media (max-width: 1279px) {
  .donation__name-bank {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .donation__name-bank {
    line-height: 24px;
    letter-spacing: 0;
  }
}

.donation__button {
  margin-bottom: 20px;
  padding: 10px 0px;
  background-color: #F1CDB3;
  border: none;
  border-radius: 9px;
  color: #545454;
  max-width: 349px;
  cursor: pointer;
  position: relative;
}

.donation__button::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 23px;
  top: 10px;
  left: 15px;
  background-image: url(./../../../assets/icons/credit-card.svg);
}

.donation__button:hover {
  background-color: #FDDCC4;
}

@media (max-width: 767px) {
  .donation__button {
    max-width: 281px;
    padding: 9px 0px;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  .donation__button::after {
    left: 14px;
  }
}

.donation__button-link {
  padding-left: 60px;
  text-decoration: none;
  color: #545454;
}

@media (max-width: 767px) {
  .donation__button-link {
    font-size: 1.5rem;
    line-height: 1.65rem;
    font-weight: 400;
    font-style: normal;
    padding-left: 57px;
    padding-right: 17px;
    letter-spacing: 0.09rem;
  }
}

.donation__legal-info {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
  letter-spacing: 0;
}

@media (max-width: 767px) {
  .donation__legal-info {
    text-align: justify;
    padding: 9px;
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */